# Base de Datos con Python
----------------------------------------------------

En esta sección conoceremos realizaremos una introducción a las bases de datos con Python. Para esto emplearemos SQLLite el cual ya viene preinstalado en python.

## 1. Introducción a las Bases de Datos
-------------------------------------------

Las bases de datos son conjuntos de información que se almacenan y se consultan con un sistema. Los gestores de bases de datos son un tipo de software que permite estructurar una base de datos, almacenar la información y consultarla.

https://www.youtube.com/watch?v=knVwokXITGI

<img src=''>

## 1.1. SQL Lite

SQLite es una biblioteca de C que provee una base de datos ligera basada en disco que no requiere un proceso de servidor separado y permite acceder a la base de datos usando una variación no estándar del lenguaje de consulta SQL. Algunas aplicaciones pueden usar SQLite para almacenamiento interno.

## 2. Lenguaje SQL
---------------------------

El lenguaje más utilizado en las bases de datos relacionales el lenguaje SQL (Lenguaje de Consulta Estructurada), y es necesario aprenderlo si queremos utilizar este tipo de bases de datos en nuestros programas.

<img src='https://1.bp.blogspot.com/-MuCO0K5sehg/WjPVIdp87LI/AAAAAAAABRY/Ny7-YC-tIGIHLP6dShGWEagAlEw54OXnACLcBGAs/s1600/sentencias_sql.png'>

## 3. Primeros pasos SQL Lite

In [1]:
# Importamos el módulo
import sqlite3

# Nos conectamos a la base de datos ejemplo.db (la crea si no existe)
conexion = sqlite3.connect('ejemplov2.db')

# Cerramos la conexión, si no la cerramos quedará abierta
# y no podremos gestionar el fichero
conexion.close()

with sqlite3.connect('ejemplo.db') as conn:
    pass

### 3.1 Creación de una Tabla

In [2]:
import sqlite3

sentencia = """
CREATE TABLE IF NOT EXISTS usuariosV4(
    person_id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre VARCHAR(100), 
    edad INTEGER,
    email VARCHAR(100) 
);
"""
with sqlite3.connect('ejemplo.db') as conexion:
    # Creamos el cursor
    cursor = conexion.cursor()

    # Ahora crearemos una tabla de usuarios con nombres, edades y emails
    cursor.execute(sentencia) # O QUERY

    # Guardamos los cambios haciendo un commit
    conexion.commit()

### 3.2 Insertar

In [4]:
import sqlite3

sentencia = """
INSERT INTO usuariosV4(nombre,edad,email) VALUES
('Hector', 27, 'hector@ejemplo.com')
"""

with sqlite3.connect('ejemplo.db') as conexion:
    
    cursor = conexion.cursor()
    
    # Insertamos un registro en la tabla de usuarios
    for i in range(50):
        cursor.execute(sentencia)

    # Guardamos los cambios haciendo un commit
        conexion.commit()

### 3.3 Lectura de Datos

In [5]:
import sqlite3

with sqlite3.connect('ejemplo.db') as conexion:
    cursor = conexion.cursor()

    # Recuperamos los registros de la tabla de usuarios
    cursor.execute("SELECT * FROM usuariosV4")

    # Mostrar el cursos a ver que hay ?
    print(cursor)

    # Recorremos el primer registro con el método fetchone, devuelve una tupla
    usuario = cursor.fetchall()
    pass

print(usuario)

<sqlite3.Cursor object at 0x7f27583a8fc0>
[(1, 'Hector', 27, 'hector@ejemplo.com'), (2, 'Hector', 27, 'hector@ejemplo.com'), (3, 'Hector', 27, 'hector@ejemplo.com'), (4, 'Hector', 27, 'hector@ejemplo.com'), (5, 'Hector', 27, 'hector@ejemplo.com'), (6, 'Hector', 27, 'hector@ejemplo.com'), (7, 'Hector', 27, 'hector@ejemplo.com'), (8, 'Hector', 27, 'hector@ejemplo.com'), (9, 'Hector', 27, 'hector@ejemplo.com'), (10, 'Hector', 27, 'hector@ejemplo.com'), (11, 'Hector', 27, 'hector@ejemplo.com'), (12, 'Hector', 27, 'hector@ejemplo.com'), (13, 'Hector', 27, 'hector@ejemplo.com'), (14, 'Hector', 27, 'hector@ejemplo.com'), (15, 'Hector', 27, 'hector@ejemplo.com'), (16, 'Hector', 27, 'hector@ejemplo.com'), (17, 'Hector', 27, 'hector@ejemplo.com'), (18, 'Hector', 27, 'hector@ejemplo.com'), (19, 'Hector', 27, 'hector@ejemplo.com'), (20, 'Hector', 27, 'hector@ejemplo.com'), (21, 'Hector', 27, 'hector@ejemplo.com'), (22, 'Hector', 27, 'hector@ejemplo.com'), (23, 'Hector', 27, 'hector@ejemplo.com'), (24, 'Hector', 27, 'hector@ejemplo.com'), (25, 'Hector', 27, 'hector@ejemplo.com'), (26, 'Hector', 27, 'hector@ejemplo.com'), (27, 'Hector', 27, 'hector@ejemplo.com'), (28, 'Hector', 27, 'hector@ejemplo.com'), (29, 'Hector', 27, 'hector@ejemplo.com'), (30, 'Hector', 27, 'hector@ejemplo.com'), (31, 'Hector', 27, 'hector@ejemplo.com'), (32, 'Hector', 27, 'hector@ejemplo.com'), (33, 'Hector', 27, 'hector@ejemplo.com'), (34, 'Hector', 27, 'hector@ejemplo.com'), (35, 'Hector', 27, 'hector@ejemplo.com'), (36, 'Hector', 27, 'hector@ejemplo.com'), (37, 'Hector', 27, 'hector@ejemplo.com'), (38, 'Hector', 27, 'hector@ejemplo.com'), (39, 'Hector', 27, 'hector@ejemplo.com'), (40, 'Hector', 27, 'hector@ejemplo.com'), (41, 'Hector', 27, 'hector@ejemplo.com'), (42, 'Hector', 27, 'hector@ejemplo.com'), (43, 'Hector', 27, 'hector@ejemplo.com'), (44, 'Hector', 27, 'hector@ejemplo.com'), (45, 'Hector', 27, 'hector@ejemplo.com'), (46, 'Hector', 27, 'hector@ejemplo.com'), (47, 'Hector', 27, 'hector@ejemplo.com'), (48, 'Hector', 27, 'hector@ejemplo.com'), (49, 'Hector', 27, 'hector@ejemplo.com'), (50, 'Hector', 27, 'hector@ejemplo.com')]

In [ ]:
import sqlite3

# Creamos una lista de tuplas con varios usuarios
usuarios = [('Mario', 51, 'mario@ejemplo.com'),
            ('Mercedes', 38, 'mercedes@ejemplo.com'),
            ('Juan', 19, 'juan@ejemplo.com')]

with sqlite3.connect('ejemplo.db') as conexion:
    
    cursor = conexion.cursor()

    # Ahora utilizamos el método executemany() para insertar varios
    cursor.executemany("INSERT INTO usuariosV4(nombre,edad,email) VALUES (?,?,?)", usuarios)

    # Guardamos los cambios haciendo un commit
    conexion.commit()
    pass

In [ ]:
import sqlite3

with sqlite3.connect('ejemplo.db') as conexion:
    cursor = conexion.cursor()

    # Recuperamos los registros de la tabla de usuarios
    cursor.execute("SELECT * FROM usuariosV4")

    # Recorremos todos los registros con fetchall
    # y los volcamos en una lista de usuarios
    usuarios = cursor.fetchall()
    pass

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)