# Manipulación Avanzada de Datos
------------------------

En esta sección aprenderemos a manipular nuestro dataframe haciendo agrupaciones de datos o trabajando con más de un dataframe a la vez

## 1. Sumarización de Datos

Las sentencias de agrupamiento de datos nos ayudan a brindar información resumida que pueda ser facilmente analizada por diversas personas.

<img src='./img/group_by.jpg'>

El agrupamiento de datos implica utilizar funciones de agregacion como: `count`, `sum`, `mean`, `min`, `max` a una columna del df

In [2]:
import pandas as pd

df_reviews = pd.read_csv('./src/winemag-data-130k-v2.csv')
df_reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [3]:
df_reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Argentina                1907   4.0   230.0
Armenia                     1  14.0    14.0
Australia                1177   6.0   850.0
Austria                  1635   7.0   150.0
Bosnia and Herzegovina      1  13.0    13.0
Brazil                     31  10.0    45.0
Bulgaria                   68   8.0    55.0
Canada                    108  12.0   120.0
Chile                    2258   5.0   400.0
Croatia                    44  13.0    65.0
Cyprus                      6  11.0    21.0
Czech Republic              6  15.0    45.0
England                    36  25.0    80.0
France                  11174   5.0  2500.0
Georgia                    37   9.0    40.0
Germany                  1051   5.0   775.0
Greece                    242   8.0    79.0
Hungary                    61  10.0   764.0
India                       4  10.0    20.0
Israel                    259   8.0   100.0
Italy                   10005   5.0   595.0
Lebanon                    20  13.0    75.0
Luxembourg                  4  16.0    30.0
Macedonia                   6  15.0    20.0
Mexico                     31   8.0    58.0
Moldova                    30   8.0    42.0
Morocco                    11  14.0    40.0
New Zealand               733   8.0   120.0
Peru                        8  10.0    68.0
Portugal                 2963   5.0  1000.0
Romania                    67   7.0   100.0
Serbia                      7  15.0    40.0
Slovakia                    1  16.0    16.0
Slovenia                   39   7.0    60.0
South Africa              737   8.0   330.0
Spain                    3409   4.0   770.0
Switzerland                 4  30.0   160.0
Turkey                     43  15.0   120.0
US                      27177   4.0   750.0
Ukraine                     5   6.0    10.0
Uruguay                    61  10.0   120.0

## 2. Manipulando más de un DataFrame

### 2.1 Unificando o Concatenando DataFrames

Esto nos permite unificar información de Dataframs cuyas columnas sean iguales

<img src='https://pandas.pydata.org/docs/_images/08_concat_row.svg'>

In [ ]:
# A manera de ejemplo veremos la unificación de 2 df's cuya data es similar

import pandas as pd

columns = ["date.utc", "location", "parameter", "value"]

df_air_quality_no2 = pd.read_csv("./src/air_quality_no2_long.csv", parse_dates=True, usecols=columns)
df_air_quality_pm25 = pd.read_csv("./src/air_quality_pm25_long.csv", parse_dates=True, usecols=columns)

In [ ]:
df_air_quality_no2.head(2)

In [ ]:
df_air_quality_pm25.head()

In [ ]:
# Unificando la información en un único df

df_air_quality = pd.concat([df_air_quality_pm25, df_air_quality_no2], axis=0)
df_air_quality.head()

In [ ]:
print('Shape of the ``air_quality_pm25`` table: ', df_air_quality_pm25.shape)

print('Shape of the ``air_quality_no2`` table: ', df_air_quality_no2.shape)

print('Shape of the resulting ``air_quality`` table: ', df_air_quality.shape)

### 2.2 Joins

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

La operacion merge implica combinar 2 df a partir de uno o más valores llave o `key`

<img src='./img/merge.png'>

In [ ]:
# Unificaremos la información consolidada del df previo 
df_stations_coord = pd.read_csv("./src/air_quality_stations.csv")
df_stations_coord.head(2)

In [ ]:
# como llame emplearemos la columna 'location'

df_air_quality = pd.merge(df_air_quality, df_stations_coord, how="inner", on="location")
df_air_quality.head()

In [ ]:
# como llame emplearemos la columna 'location'


df_air_quality = pd.merge(df_air_quality, df_stations_coord, how="inner", left_on='location', right_on='location')
df_air_quality.head()

Como punto general existen diferentes formas de combinar los dataframe, siendo el método `inner` el utilizado por defecto

<img src='./img/merge_tipos.png'>

## Información Adicional


- Group By Explicado:  https://learnsql.com/blog/group-by-in-sql-explained/

- Combinando Múltiples dataFrames : https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html#min-tut-08-combine